@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinkRed {
  0%, 100% {
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 1);
  }
  50% {
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.3);
  }
}

.clickable-page-link {
  animation: blinkRed 1.5s ease-in-out infinite;
}
